<%- include ("partials/header.ejs") %>


<section>

   <% if (locals.indexTitle && locals.indexContent) { %>
    <h2>See New Posts</h2>
    <!-- <a href="/new">Create New Post</a> -->
    <ul>
        <%# post.forEach((item) => { %>
            <li>
                <h3><%= indexTitle %></h3>
                <p><%= indexContent %></p>
                <a href="/edit">Edit</a>
                <form action="/delete" method="POST" style="display:inline;">
                    <button type="submit">Delete</button>
                </form>
            </li>
        <%# }) %>
    </ul>

    <% } else { %>
      <h1>Welcome to the Band Generator 🤟</h1>
      <% } %>
 
</section>



<h1>
    Blog
</h1>

<p> 
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut at repudiandae ullam corporis, perspiciatis provident odio soluta nesciunt modi repellendus, neque, explicabo aliquam laudantium magni in unde tempora fugit! Modi.
</p> 


<div class="list-group">
    <a href="/Story-of-my-life" class="list-group-item list-group-item-action">Story of my life</a>
    <a href="/Birthday-and-birthplace" class="list-group-item list-group-item-action list-group-item-primary">Birthday and birthplace</a>
    <a href="/Growing-up" class="list-group-item list-group-item-action list-group-item-secondary">Growing up</a>
    <a href="/Making-friends" class="list-group-item list-group-item-action list-group-item-success">Making friends</a>
    <a href="/Choosing-a-path" class="list-group-item list-group-item-action list-group-item-danger">Choosing a path</a>
    <a href="/Finding-peace" class="list-group-item list-group-item-action list-group-item-warning">Finding peace</a>
    <a href="/Seeking-love" class="list-group-item list-group-item-action list-group-item-info">Seeking love</a>
    <a href="/Birthing-life" class="list-group-item list-group-item-action list-group-item-light">Birthing life</a>
    <a href="/Knowing-God-and-truth" class="list-group-item list-group-item-action list-group-item-dark">Knowing God and truth</a>
  </div>

<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure optio aliquid doloribus ea qui quis ipsum recusandae fugiat repellat, laudantium odio atque reprehenderit hic eveniet dolores pariatur. Consequatur eum temporibus libero? Fugit velit expedita quia voluptatibus. Eveniet rerum quia sapiente commodi id at. Exercitationem sed maxime voluptatibus porro fugit veritatis, molestiae dolore pariatur sunt ipsa corrupti enim libero reiciendis ullam, minima quaerat quasi quo in reprehenderit nam assumenda! Ullam eius, non dolorem quaerat cumque cupiditate. Accusantium dicta, commodi possimus rem impedit non provident quae perferendis neque similique inventore officiis vero quisquam atque nihil et ducimus adipisci ab optio tempore sapiente voluptates explicabo. Id praesentium voluptatem magnam reiciendis tenetur optio natus qui facilis aliquam labore dolore, nulla dolor aut ab, modi debitis nesciunt eum nemo laudantium deleniti accusantium. Maxime facilis amet ex autem, quas beatae, doloribus sunt dignissimos eum expedita nulla? Esse ducimus odio quia officiis dolor possimus dolorum repellat excepturi ex iusto dolorem, harum debitis tenetur quidem consequuntur sequi alias? Quas quibusdam temporibus voluptas incidunt veniam cumque autem omnis ipsum recusandae placeat, voluptate doloribus fugit possimus explicabo natus, culpa facere quisquam nostrum, esse fuga mollitia a nisi. Quos asperiores minus rem quis, repellat odio, nisi dolore nostrum impedit quam cum, doloribus fugiat magnam quo error numquam sit in esse quia pariatur! Magni saepe corporis porro rem at temporibus dolore voluptas deserunt amet impedit fugit cum, debitis est perspiciatis quasi, dolores omnis a, inventore delectus dolorem sint soluta qui quaerat similique. Voluptatum ullam temporibus neque aliquam? Iusto vel quo in, dolor debitis esse nulla aliquid nostrum quidem saepe, delectus ut beatae cupiditate a aut? Animi earum quam vitae autem odio fugiat ipsum eveniet! Obcaecati ducimus fuga, nemo, cumque debitis fugiat placeat laboriosam, laudantium perferendis minima repellat eius blanditiis cum vel accusamus! Obcaecati unde necessitatibus non quos voluptatum, laboriosam sint fugit voluptate, voluptates laborum maxime ullam harum ratione. Id facilis alias doloribus tempora ullam amet, porro molestiae explicabo, fugiat ea vitae. Repudiandae corporis cum laudantium, quidem consequuntur, similique inventore culpa est unde voluptate accusantium iure temporibus earum in nulla aut eligendi illum quia reprehenderit eaque ratione repellendus totam perspiciatis? Voluptate non sunt et, unde fugiat quae ad tenetur amet qui eius labore ex expedita optio! Deserunt doloribus laborum repellendus eligendi officia quos excepturi culpa, obcaecati est provident! Tempore ducimus ipsam earum quis a eligendi sunt ab possimus rem quibusdam amet nesciunt, placeat alias quas veritatis ipsa nam explicabo vitae, commodi facere. Eos ullam praesentium atque consequuntur, recusandae autem distinctio maiores non aliquam nemo hic incidunt quasi cupiditate saepe impedit asperiores nam voluptate dignissimos harum sint similique blanditiis labore? Eligendi cupiditate porro deleniti minima, nihil, sunt odio soluta nulla consectetur libero quis quaerat. Iusto architecto, quis voluptates maxime labore neque reiciendis ipsa dicta. Dignissimos, ratione sit odio quam esse rerum voluptas eligendi sunt corrupti aliquam? Ducimus quas illum maxime asperiores sequi, minima a repudiandae, sint aperiam iste excepturi nisi eveniet recusandae voluptatibus quo omnis deserunt! Unde soluta consectetur aut nobis neque reiciendis esse placeat et dolorem, harum non officiis tempore minus veniam laudantium, magni ipsa vel ea molestias incidunt quam ullam accusamus. Quo doloribus vitae ullam eos. Vitae, ea placeat consequatur esse id nesciunt eveniet autem quo delectus atque neque ullam doloremque illum odio possimus sunt. Vel facere voluptatum, doloribus ea a deserunt autem, quibusdam quos quasi nobis maiores architecto recusandae eligendi aliquid sed quam! Beatae atque explicabo nisi culpa inventore impedit, minima illo pariatur saepe voluptates alias, porro accusamus iusto! Incidunt modi similique eius consectetur sed, vitae adipisci voluptatibus itaque accusamus reiciendis sequi eos nihil ipsam odio? Quo, perferendis, unde nemo nostrum recusandae suscipit pariatur minima inventore deserunt ea, aut itaque sed? Aut quibusdam neque modi unde tenetur voluptas, dolor illo, similique voluptates magni dolores et eligendi consequatur velit. Maiores, rem eos quam repellat libero sequi expedita quo quasi eveniet aspernatur enim corrupti et dolor perspiciatis eligendi repudiandae incidunt doloribus dicta! Eos dolorem harum modi minima enim impedit voluptates praesentium dolorum quia, reprehenderit repellendus accusantium sunt ea recusandae nulla officia? Praesentium in labore dolorum est, error quod id voluptas ab, amet ipsam fugiat illum sapiente dignissimos explicabo, qui quo asperiores hic ullam porro? Officia explicabo est eveniet molestiae, odio autem maiores quos fugiat dolorem nisi, veritatis eum consectetur minima non tenetur odit corrupti ipsum enim eius totam sequi labore. Quisquam iste hic adipisci dicta omnis debitis in corporis voluptatum fuga voluptas. Maxime aperiam veritatis eius blanditiis animi magnam ullam omnis doloribus totam sint magni eum nostrum voluptas necessitatibus quaerat fugit accusantium, debitis temporibus, beatae similique veniam corporis natus aliquid! Aliquam, assumenda tempore. Minima ea itaque autem, sed quam architecto inventore. Voluptate quaerat animi architecto vitae inventore laborum temporibus sunt dolor hic, ipsum, libero beatae nostrum deserunt deleniti praesentium. Hic, temporibus! Odio corporis delectus dignissimos fuga molestias nesciunt odit minus ut perferendis velit a, doloremque non porro enim. Possimus tempora ad ipsum repellat. Dolore tenetur aliquam exercitationem odit possimus qui voluptatem quae eligendi corporis iure ducimus sunt maiores architecto hic nemo eius maxime cumque, non, eaque corrupti? Modi sint, tempora animi officiis eligendi ducimus placeat nihil debitis quis aspernatur! Unde voluptas assumenda sapiente porro aperiam eius blanditiis, eveniet repudiandae maxime id rerum dolores ratione. Consectetur laborum esse quisquam a, consequatur, molestias aperiam fuga tenetur voluptates dolore repudiandae libero, culpa dignissimos nobis cumque molestiae doloribus nemo officia sequi iure aut commodi! Culpa error, reprehenderit minus, eligendi accusantium explicabo laboriosam, iste libero provident quia voluptas necessitatibus est beatae? Repudiandae est facilis nesciunt recusandae hic! Magni architecto provident deserunt quas eius blanditiis, minus inventore obcaecati consectetur, iste vitae nemo aliquid dignissimos voluptatum? Labore veritatis, impedit sed ducimus hic temporibus excepturi omnis dolorem quos cum, exercitationem mollitia cupiditate quod velit totam. Ab impedit saepe animi quo eum illo perspiciatis vitae quia totam vel quas ratione fuga nemo, qui dicta quidem, recusandae accusantium, reiciendis dolorum optio blanditiis? Quisquam cum soluta dolores in ut fuga aliquam commodi ipsum inventore enim accusantium deserunt rerum, ullam cumque animi eveniet consequuntur necessitatibus amet maxime autem debitis aliquid distinctio, et harum. Consectetur at expedita aut vel maxime laborum veritatis ea autem veniam quasi?
</p>

<%- include ("partials/footer.ejs") %>